

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.pagination ol {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.pagination li {
	margin: 0 0.5em;
}

.pagination a,
.noAnchor {
	display: block;
	padding: 0.5em 1em;
	border: 1px solid var(--pagination-border-color);
	border-radius: 0.2em;
	notext-decoration: none;
}

.noAnchor {
	color: var(--pagination-no-anchor-color);
}

.pagination a[aria-current='page'] {
	background-color: var(--pagination-current-bg-color);
	color: var(--pagination-current-text-color);
}
