.header {
	font-weight: 700;

	margin-bottom: 4rem;

	.title {
		font-size: 1.4rem;
		margin-top: 0;
		margin-bottom: 2rem;
		margin-top: 1rem;
		.light {
			font-weight: 300;
			color: #000;
		}
		.url {
			overflow-wrap: break-word;
			word-wrap: break-word;
			-ms-word-break: break-all;
			word-break: break-all;
			word-break: break-word;
		}
	}

	.field {
		font-weight: 700;
		font-size: 2rem;
		.light {
			font-weight: 300;
		}
	}
}

/*
.validation {
	padding: 0.2rem 3rem 0.2rem 2rem;
	display: flex;
	margin-bottom: 0.3rem;
	border-width: 3px;
	border-style: solid;
}

.section {
	margin-bottom: 1rem;
}

.payload {
	border-left: 8px solid black;
	padding-left: 1rem;
	width: 600px;
}

.sectionTitle {
	font-size: 1.4rem;
}

.title {
	display: inline-block;
	margin-left: 0.25rem;
}

.pageTitle {
	margin-bottom: 0;
}





.validation h3 {
	font-size: 1.6rem;
}

.pass {
	background: #c5e1a5;
	border-color: #8bc34a;
}

.fail {
	background: #ffcdd2;
	border-color: #ef9a9a;
}

.na {
	border-color: #ccc;
	color: #949494;
}

.na svg {
	stroke: #fc0 !important;
}

.error {
	margin-bottom: 2rem;
	font-weight: 600;
}

.content {
	flex: 1;
}

.content summary {
	font-size: 1.4rem;
	font-weight: normal;
}

.status {
	font-weight: bold;
}

.icon {
	flex: 0 4rem;
	padding-top: 1rem;
}

.test {
	display: flex;

	padding: 1rem;
}

.test:not(:last-child) {
	margin-bottom: 0.5rem;
}

.passStatus {
	background: #00ac1b;
	color: #fff;
}

.failStatus {
	background: #ff3300;
	color: #fff;
}

.skipStatus {
	background: #ccc;
	color: #000;
}

.testIcon {
	flex: 100px 0 0;
}

.testText {
	flex: 1;
}

.testText h4 {
	margin: 0;
}

.testText summary,
.testText details {
	margin: 0;
}

.testText summary {
	text-decoration: underline;
	font-weight: normal;
}

.testText summary::marker,
.testText summary::-webkit-details-marker {
	display: none;
}


*/
