:root {
	--colour-slate-50: #f8fafc;
	--colour-slate-100: #f1f5f9;
	--colour-slate-200: #e2e8f0;
	--colour-slate-300: #cbd5e1;
	--colour-slate-400: #94a3b8;
	--colour-slate-500: #64748b;
	--colour-slate-600: #475569;
	--colour-slate-700: #334155;
	--colour-slate-800: #1e293b;
	--colour-slate-900: #0f172a;
	--colour-slate-950: #020617;

	--colour-grey-50: #f9fafb;
	--colour-grey-100: #f3f4f6;
	--colour-grey-200: #e5e7eb;
	--colour-grey-300: #d1d5db;
	--colour-grey-400: #9ca3af;
	--colour-grey-500: #6b7280;
	--colour-grey-600: #4b5563;
	--colour-grey-700: #374151;
	--colour-grey-800: #1f2937;
	--colour-grey-900: #111827;
	--colour-grey-950: #030712;

	--colour-zinc-50: #fafafa;
	--colour-zinc-100: #f4f4f5;
	--colour-zinc-200: #e4e4e7;
	--colour-zinc-300: #d4d4d8;
	--colour-zinc-400: #a1a1aa;
	--colour-zinc-500: #71717a;
	--colour-zinc-600: #52525b;
	--colour-zinc-700: #3f3f46;
	--colour-zinc-800: #27272a;
	--colour-zinc-900: #18181b;
	--colour-zinc-950: #09090b;

	--colour-neutral-50: #fafafa;
	--colour-neutral-100: #f5f5f5;
	--colour-neutral-200: #e5e5e5;
	--colour-neutral-300: #d4d4d4;
	--colour-neutral-400: #a3a3a3;
	--colour-neutral-500: #737373;
	--colour-neutral-600: #525252;
	--colour-neutral-700: #404040;
	--colour-neutral-800: #262626;
	--colour-neutral-900: #171717;
	--colour-neutral-950: #0a0a0a;

	--colour-stone-50: #fafaf9;
	--colour-stone-100: #f5f5f4;
	--colour-stone-200: #e7e5e4;
	--colour-stone-300: #d6d3d1;
	--colour-stone-400: #a8a29e;
	--colour-stone-500: #78716c;
	--colour-stone-600: #57534e;
	--colour-stone-700: #44403c;
	--colour-stone-800: #292524;
	--colour-stone-900: #1c1917;
	--colour-stone-950: #0c0a09;

	--colour-red-50: #fef2f2;
	--colour-red-100: #fee2e2;
	--colour-red-200: #fecaca;
	--colour-red-300: #fca5a5;
	--colour-red-400: #f87171;
	--colour-red-500: #ef4444;
	--colour-red-600: #dc2626;
	--colour-red-700: #b91c1c;
	--colour-red-800: #991b1b;
	--colour-red-900: #7f1d1d;
	--colour-red-950: #450a0a;

	--colour-orange-50: #fff7ed;
	--colour-orange-100: #ffedd5;
	--colour-orange-200: #fed7aa;
	--colour-orange-300: #fdba74;
	--colour-orange-400: #fb923c;
	--colour-orange-500: #f97316;
	--colour-orange-600: #ea580c;
	--colour-orange-700: #c2410c;
	--colour-orange-800: #9a3412;
	--colour-orange-900: #7c2d12;
	--colour-orange-950: #431407;

	--colour-amber-50: #fffbeb;
	--colour-amber-100: #fef3c7;
	--colour-amber-200: #fde68a;
	--colour-amber-300: #fcd34d;
	--colour-amber-400: #fbbf24;
	--colour-amber-500: #f59e0b;
	--colour-amber-600: #d97706;
	--colour-amber-700: #b45309;
	--colour-amber-800: #92400e;
	--colour-amber-900: #78350f;
	--colour-amber-950: #451a03;

	--colour-yellow-50: #fefce8;
	--colour-yellow-100: #fef9c3;
	--colour-yellow-200: #fef08a;
	--colour-yellow-300: #fde047;
	--colour-yellow-400: #facc15;
	--colour-yellow-500: #eab308;
	--colour-yellow-600: #ca8a04;
	--colour-yellow-700: #a16207;
	--colour-yellow-800: #854d0e;
	--colour-yellow-900: #713f12;
	--colour-yellow-950: #422006;

	--colour-lime-50: #f7fee7;
	--colour-lime-100: #ecfccb;
	--colour-lime-200: #d9f99d;
	--colour-lime-300: #bef264;
	--colour-lime-400: #a3e635;
	--colour-lime-500: #84cc16;
	--colour-lime-600: #65a30d;
	--colour-lime-700: #4d7c0f;
	--colour-lime-800: #3f6212;
	--colour-lime-900: #365314;
	--colour-lime-950: #1a2e05;

	--colour-green-50: #f0fdf4;
	--colour-green-100: #dcfce7;
	--colour-green-200: #bbf7d0;
	--colour-green-300: #86efac;
	--colour-green-400: #4ade80;
	--colour-green-500: #22c55e;
	--colour-green-600: #16a34a;
	--colour-green-700: #15803d;
	--colour-green-800: #166534;
	--colour-green-900: #14532d;
	--colour-green-950: #052e16;

	--colour-emerald-50: #ecfdf5;
	--colour-emerald-100: #d1fae5;
	--colour-emerald-200: #a7f3d0;
	--colour-emerald-300: #6ee7b7;
	--colour-emerald-400: #34d399;
	--colour-emerald-500: #10b981;
	--colour-emerald-600: #059669;
	--colour-emerald-700: #047857;
	--colour-emerald-800: #065f46;
	--colour-emerald-900: #064e3b;
	--colour-emerald-950: #022c22;

	--colour-teal-50: #f0fdfa;
	--colour-teal-100: #ccfbf1;
	--colour-teal-200: #99f6e4;
	--colour-teal-300: #5eead4;
	--colour-teal-400: #2dd4bf;
	--colour-teal-500: #14b8a6;
	--colour-teal-600: #0d9488;
	--colour-teal-700: #0f766e;
	--colour-teal-800: #115e59;
	--colour-teal-900: #134e4a;
	--colour-teal-950: #042f2e;

	--colour-cyan-50: #ecfeff;
	--colour-cyan-100: #cffafe;
	--colour-cyan-200: #a5f3fc;
	--colour-cyan-300: #67e8f9;
	--colour-cyan-400: #22d3ee;
	--colour-cyan-500: #06b6d4;
	--colour-cyan-600: #0891b2;
	--colour-cyan-700: #0e7490;
	--colour-cyan-800: #155e75;
	--colour-cyan-900: #164e63;
	--colour-cyan-950: #083344;

	--colour-sky-50: #f0f9ff;
	--colour-sky-100: #e0f2fe;
	--colour-sky-200: #bae6fd;
	--colour-sky-300: #7dd3fc;
	--colour-sky-400: #38bdf8;
	--colour-sky-500: #0ea5e9;
	--colour-sky-600: #0284c7;
	--colour-sky-700: #0369a1;
	--colour-sky-800: #075985;
	--colour-sky-900: #0c4a6e;
	--colour-sky-950: #082f49;

	--colour-blue-50: #eff6ff;
	--colour-blue-100: #dbeafe;
	--colour-blue-200: #bfdbfe;
	--colour-blue-300: #93c5fd;
	--colour-blue-400: #60a5fa;
	--colour-blue-500: #3b82f6;
	--colour-blue-600: #2563eb;
	--colour-blue-700: #1d4ed8;
	--colour-blue-800: #1e40af;
	--colour-blue-900: #1e3a8a;
	--colour-blue-950: #172554;

	--colour-indigo-50: #eef2ff;
	--colour-indigo-100: #e0e7ff;
	--colour-indigo-200: #c7d2fe;
	--colour-indigo-300: #a5b4fc;
	--colour-indigo-400: #818cf8;
	--colour-indigo-500: #6366f1;
	--colour-indigo-600: #4f46e5;
	--colour-indigo-700: #4338ca;
	--colour-indigo-800: #3730a3;
	--colour-indigo-900: #312e81;
	--colour-indigo-950: #1e1b4b;

	--colour-violet-50: #f5f3ff;
	--colour-violet-100: #ede9fe;
	--colour-violet-200: #ddd6fe;
	--colour-violet-300: #c4b5fd;
	--colour-violet-400: #a78bfa;
	--colour-violet-500: #8b5cf6;
	--colour-violet-600: #7c3aed;
	--colour-violet-700: #6d28d9;
	--colour-violet-800: #5b21b6;
	--colour-violet-900: #4c1d95;
	--colour-violet-950: #2e1065;

	--colour-purple-50: #faf5ff;
	--colour-purple-100: #f3e8ff;
	--colour-purple-200: #e9d5ff;
	--colour-purple-300: #d8b4fe;
	--colour-purple-400: #c084fc;
	--colour-purple-500: #a855f7;
	--colour-purple-600: #9333ea;
	--colour-purple-700: #7e22ce;
	--colour-purple-800: #6b21a8;
	--colour-purple-900: #581c87;
	--colour-purple-950: #3b0764;

	--colour-fuchsia-50: #fdf4ff;
	--colour-fuchsia-100: #fae8ff;
	--colour-fuchsia-200: #f5d0fe;
	--colour-fuchsia-300: #f0abfc;
	--colour-fuchsia-400: #e879f9;
	--colour-fuchsia-500: #d946ef;
	--colour-fuchsia-600: #c026d3;
	--colour-fuchsia-700: #a21caf;
	--colour-fuchsia-800: #86198f;
	--colour-fuchsia-900: #701a75;
	--colour-fuchsia-950: #4a044e;

	--colour-pink-50: #fdf2f8;
	--colour-pink-100: #fce7f3;
	--colour-pink-200: #fbcfe8;
	--colour-pink-300: #f9a8d4;
	--colour-pink-400: #f472b6;
	--colour-pink-500: #ec4899;
	--colour-pink-600: #db2777;
	--colour-pink-700: #be185d;
	--colour-pink-800: #9d174d;
	--colour-pink-900: #831843;
	--colour-pink-950: #500724;

	--colour-rose-50: #fff1f2;
	--colour-rose-100: #ffe4e6;
	--colour-rose-200: #fecdd3;
	--colour-rose-300: #fda4af;
	--colour-rose-400: #fb7185;
	--colour-rose-500: #f43f5e;
	--colour-rose-600: #e11d48;
	--colour-rose-700: #be123c;
	--colour-rose-800: #9f1239;
	--colour-rose-900: #881337;
	--colour-rose-950: #4c0519;
}
