@media only screen and (min-width: 1024px) {
  .table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    border: 0;
    max-width: 100%;
    overflow-x: auto;
    padding: 0;
    white-space: wrap;
    overflow-wrap: break-word;
  }
  .thead {
    display: table-header-group;
  }
  .tbody {
    display: table-row-group;
  }
  .th {
    display: table-cell;
  }
  .td {
    display: table-cell;
  }
  .tr {
    display: table-row;
  }
}
