.table {
	border-collapse: collapse;
	width: 100%;
	border: 0;
	max-width: 100%;
	overflow-x: auto;
	padding: 0;
	white-space: wrap;
	overflow-wrap: break-word;
	margin-bottom:4rem;
}

.table th,
.table td {
	text-align: left;
	padding-right: 1rem;
}

.table th:last-child,
.table td:last-child {
	text-align: right;
}

.table thead tr {
	border: 0;
}

.table thead tr {
	border-top: 0;
	border-bottom: 3px solid black;
}

.table thead th {
	border: 0;
}

.table thead span {
	display: block;
	padding: 1rem 0.05rem;
}
