.Menu {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
	transform: translateZ(0);
	font-size: 16px;
	background: var(--Header-background-open);
}
.Menu.open {
	max-height: 1500px;
}

.Innermenu {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 1rem;
}

@media only screen and (max-width: 1024px) {
	.Innermenu {
		grid-template-columns: 1fr;
	}

	.Innermenu li {
		margin: 0 0 1rem;
	}
}

.MenuSection {
	padding: 2rem 0 1rem 0;
}

.Menu ol {
	margin: 0.5rem 0;
	padding: 0;
	text-indent: 0;
	list-style: none;
}

.Menu li {
	margin: 0 0 0.5rem;
	padding: 0;
	text-indent: 0;
	list-style: none;
	/* outdent first line */
	text-indent: -1rem;
	padding-left: 1rem;
}

.Menu a {
	font-weight: var(--link-weight);
}

.heading {
	font-weight: 900;
	font-size: 1.2rem;
}

.overflow {
	margin-top: 1rem;
	font-size: 16px;
}
