body{
	background: var(--theme-paper);
	color: var(--theme-ink);
}

a, a:hover, a:active, a:visited {
	color: var(--theme-interaction);
	text-decoration: underline;
	cursor: pointer;
}

.cm-theme-light * {
	font-size: 1.1rem;
}