:root {
	--colour-black: #000;
	--colour-white: #fff;
	--colour-offwhite: rgb(252, 249, 245);
	--colour-dark-green: rgb(40, 97, 79);
	--colour-x-dark-green: rgb(42, 56, 52);
	--colour-mint: #5ac09e;
	--colour-dark-blue: #135e75;

	--colour-buff1: #fcf9f5;
	--colour-buff2: #faf3ec;
	--colour-buff3: #f7ede3;
	--colour-buff4: #f4e8db;

	--theme-paper: var(--colour-offwhite);
	--theme-ink: var(--colour-x-dark-green);
	--theme-interaction: var(--colour-dark-blue);
	--theme-footer-bg: var(--colour-dark-green);
	--theme-footer-fg: var(--colour-white);
	--theme-header-bg: var(--colour-white);
	--theme-header-fg: var(--colour-black);

	--nav-background: var(--colour-buff3);
	--nav-highlight: #5ac09e;
	--nav-foregroud: #000;
	--theme-dashboard-border: 3px solid var(--colour-black);
	--theme-dashboard-row-divider: 0.5px solid var(--colour-black);
	--theme-dashboard-header-bg: beige;

	--theme-test-pass: --theme-test-fail: ;
}

@media (prefers-color-scheme: dark) {
	:root[color-mode='user'] {
	}
}
