.gantt {
	width: 100%;
	margin-top: 2rem;
}

.gantt thead tr:not(:first-child) th {
	font-size:1.4rem;
	border-bottom:3px solid black;
}

.gantt th,
.gantt td {
	text-align: left;
	vertical-align: top;
}

.gantt .month {
	--w:30px;
	width: var(--w);
	min-width: var(--w);
	max-width: var(--w);
}

.shaded {
	background: var(--bg);
}

.screenreader {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.tranche,
.deliverable,
.tasks,
.effort {
	padding-right:1rem;
}

th.month {
	text-align: center;
}