.button {
	color: black;
	border: 3px solid black;
	background: white;
	padding: 0.5rem 2rem;
	margin: 1rem 0;
}

.button:disabled,
.button[disabled]{
  	color: #aaa;
	border: 3px solid #aaa;
	background: #eee;
}