/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!../../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Sitemap/Sitemap.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
.Sitemap_list__aEzhR {
	margin-left: 0;
	margin-top: 2rem;
}

.Sitemap_list__aEzhR ol {
	margin-left: 2rem;
	margin-top: 2rem;
}

.Sitemap_list__aEzhR li {
	list-style: none;
	margin-bottom: 2rem;
}

.Sitemap_list__aEzhR {
	font-size: 1.4rem;
}

.Sitemap_list__aEzhR .Sitemap_list__aEzhR {
	font-size: 1.2rem;
}

.Sitemap_list__aEzhR .Sitemap_list__aEzhR .Sitemap_list__aEzhR {
	font-size: 1rem;
}

.Sitemap_list__aEzhR a {
	text-decoration: underline !important;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!../../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/PageList/PageList.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
.PageList_list__gedY4 {
	text-decoration: none;
	list-style: none;
}

.PageList_item__wTK7D {
	margin-bottom: 2rem;
	max-width: 60vw;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!../../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/PageThumbnail/PageThumbnail.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************/
.PageThumbnail_thumbnail__LoCHA,
.PageThumbnail_thumbnail__LoCHA * {
	text-decoration: none;
	font-weight: normal;
}
.PageThumbnail_itemHeading__9gY1l {
	font-weight: 800;
	display: block;
	font-size: 1.2rem;
}

.PageThumbnail_itemDate__SCPsU {
	display: block;
	font-style: italic;
	font-size: 1.2rem;
}

.PageThumbnail_itemBody__G1OGm {
	display: block;
}

