
.box {
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin-bottom: 2rem;
	display: flex;
}

.box .tab {
	flex: 0 0 100px;
	display: flex;
	flex-direction: column;
	font-weight: 900;
	padding: 1rem;
	font-size: 1.5rem;
}

.box .tab div {
	text-align: center;
	padding: 0;
	margin: 0;
	line-height: 1;
}

.box .tab .version {
	font-weight: 900;
	font-size: 4rem;
	letter-spacing: -20px;
	padding: 0;
}

.box .banner {
	flex: 1;
	padding: 1.5rem 3rem;
	font-size: 1.4rem;
}

.box .banner p:not(:last-child) {
	margin-bottom: 1rem;
}

.box select {
	margin: 0 0 1rem;
	font-size: 3rem;
}

.box.current {
	border-color: var(--VersionedDocumentation-current-border-color);
	background: var(--VersionedDocumentation-current-background);
	color: var(--VersionedDocumentation-current-color);
}

.box.current select {
	border-color: var(--VersionedDocumentation-current-border-color);
	background: var(--VersionedDocumentation-current-background);
	color: var(--VersionedDocumentation-current-color);
	margin: 1rem 0;
}

.box.legacy {
	border-color: var(--VersionedDocumentation-legacy-border-color);
	background: var(--VersionedDocumentation-legacy-background);
	color: var(--VersionedDocumentation-legacy-color);
}

.box.legacy select {
	border-color: var(--VersionedDocumentation-legacy-border-color);
	background: var(--VersionedDocumentation-legacy-background);
	color: var(--VersionedDocumentation-legacy-color);
}
