.footer {
	display: block;
	margin-top: 4rem;
	background: #eee;
}

.bottom {
	/*dbackground: var(--theme-footer-bg);
	dcolor: var(--theme-footer-fg);*/
	padding: 1rem 0;
}

.bottom a {
	/*dcolor: #fff !important;*/
	display: block;
	margin-bottom: 1rem;
	font-weight:var(--link-weight);
}
.copyright {
font-size:0.9rem
}