.thumbnail,
.thumbnail * {
	font-weight: normal;
}
.itemHeading {
	font-size: 1.2rem;
	display: block;
}

.itemDate {
	display: block;
	font-style: italic;
	font-size: 1rem;
}

.itemBody {
	display: block;
}
