body {
	background: var(--theme-paper);
	color: var(--theme-ink);
}

a,
a:visited {
	color: var(--theme-anchor);
	text-decoration: underline;
	text-decoration-color: var(--theme-anchor-underline);
	text-decoration-thickness: 10%;
	text-underline-position: under;
	cursor: pointer;
	font-weight: var(--link-weight);
}

a:hover,
a:active {
	text-decoration-color: var(--theme-anchor-roll-underline);
}

.cm-theme-light * {
	font-size: 1.1rem;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
	font-size: 1.1875em;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

h4 {
	font-size: 1.4rem; /*1.875rem; /* 30px */
	line-height: 2.25rem;
	font-weight: 900;
}

h3 {
	font-size: 1.875rem; /*2.25rem;*/
	line-height: 2.5rem;
	font-weight: 900;
}

h2 {
	font-size: 2.5rem; /* 48px */
	line-height: 1;
	font-weight: 900;
}

h1 {
	font-size: 3rem; /*3.75rem; /* 60px */
	line-height: 1;
	font-weight: 900;
}

h1,
h2,
h3,
h4 {
	color: var(--theme-headline);
}

.blockquote {
	margin-bottom: 2rem;
	background: #fff;
	padding: 2rem;
	border-left: solid var(--colour-mint) 5px;
	font-size: 1.4rem;

	cite {
		margin-top: 1rem;
		display: block;
		font-style: normal;
		font-size: 1.2rem;
	}
}

.scrollingTableWrapper {
	min-width: 90vw;
	overflow-x: scroll;
	overflow-y: hidden;
}
