:root {
	--grid-line-height: 0.75rem;
}

.nudge-down-1,
.nudge-down-2,
.nudge-down-3,
.nudge-down-4,
.nudge-down-5,
.nudge-up-1,
.nudge-up-2,
.nudge-up-3,
.nudge-up-4,
.nudge-up-5 {
	position: relative;
}

.nudge-down-1 {
	top: calc(1 * var(--grid-line-height));
}
.nudge-down-2 {
	top: calc(2 * var(--grid-line-height));
}
.nudge-down-3 {
	top: calc(3 * var(--grid-line-height));
}
.nudge-down-4 {
	top: calc(4 * var(--grid-line-height));
}
.nudge-down-5 {
	top: calc(5 * var(--grid-line-height));
}

.nudge-up-1 {
	top: calc(-1 * var(--grid-line-height));
}
.nudge-up-2 {
	top: calc(-2 * var(--grid-line-height));
}
.nudge-up-3 {
	top: calc(-3 * var(--grid-line-height));
}
.nudge-up-4 {
	top: calc(-4 * var(--grid-line-height));
}
.nudge-up-5 {
	top: calc(-5 * var(--grid-line-height));
}
