.box {
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin-bottom: 2rem;
	display: flex;
}

.box .tab {
	flex: 0 0 100px;
	display: flex;
	flex-direction: column;
	font-weight: 900;
	padding: 1rem;
	font-size: 1.5rem;
}

.box .tab div {
	text-align: center;
	padding: 0;
	margin: 0;
	line-height: 1;
}

.box .tab .version {
	font-weight: 900;
	font-size: 4rem;
	letter-spacing: -20px;
	padding: 0;
}

.box .banner {
	flex: 1;
	padding: 1.5rem 3rem;
	font-size: 1.4rem;
}

.box .banner p:not(:last-child) {
	margin-bottom: 1rem;
}

.box select {
	margin: 0 0 1rem;
	font-size: 3rem;
}

.box.current {
	border-color: #a3e635;
	background: #d9f99d;
	color: #1a2e05;
}

.box.current select {
	border-color: #a3e635;
	background: #d9f99d;
	color: #1a2e05;
	margin: 1rem 0;
}

.box.legacy {
	border-color: #b91c1c;
	background: #dc2626;
	color: #fff;
}

.box.legacy select {
	border-color: #b91c1c;
	background: #dc2626;
	color: #fff;
}
