.spinner {
  display: inline-block;
  width: 7.5rem;
  height: 7.5rem;
}
.spinner:after {
  content: ' ';
  display: block;
  width: 5rem;
  height: 5rem;
  margin: 2.5rem;
  border-radius: 50%;
  border: 18px solid var(--spinner-border-color);
  border-color: var(--spinner-border-color) transparent var(--spinner-border-color-alt) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
