.InfoMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 90vw;
}

.InfoMenu li {
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
  margin-right: 1rem;
  font-size: 0.9rem;
  font-weight: var(--link-weight);
}
