.header {
	padding: 2rem 0 1rem;
	background: var(--theme-header-bg);
	color: var(--theme-header-fg);
}

.developers {
	padding: 2rem 0 1rem;
	background: var(--theme-header-dev-bg);
	color: var(--theme-header-dev-fg);
}

@media only screen and (max-width: 1024px) {
	.content {
		display: flex;
		justify-content: right;
	}
}
