.Schema {
	margin: 0 0 2rem;

	.name {
		font-size: 1.6rem;
		font-weight: bold;
	}

	.description {
		font-style: italic;
	}

	.properties {
		margin-top: 1rem;
	}
	.propertiesList {
		border: 1px solid black;
	}
}
