.test {
	margin-bottom: 0.5rem;
	display: flex;
	border-style: solid;
	border-width: 5px;

	.status {
		flex: 0 0 120px;
		min-height: 120px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 2rem;

		.testText {
			flex: 1;
		}

		.testText span {
			/*
        font-weight: 900;
        font-variant:small-caps;
        color: #000;
        background: #fff;
        padding: 5px 0.5rem;
        border-radius:1rem;
        */
			clip: rect(0 0 0 0);
			clip-path: inset(50%);
			height: 1px;
			overflow: hidden;
			position: absolute;
			white-space: nowrap;
			width: 1px;
		}

		.testIcon {
			flex: 1;
		}
	}

	.payload {
		flex: 1;
		padding: 1rem;
	}
}

.result {
	margin-top: 1rem;

	.resultMessage {
		display: block;
		font-weight: 700;
	}
}
