.content h1,
.content h2,
.content h3,
.content h4,
.content p,
.content ul {
	margin-bottom: 2rem;
}

.content {
	max-width: 40rem;
}

.solo {
	max-width: 50rem;
}

.onthispage {
	font-size: 1.5rem;
}

.content ul,
.content ol {
	margin-left: 2rem;
}

.content li {
	margin-bottom: 1rem;
}

.content li li {
	list-style-type: circle;
}

.content li:has(ul) {
	list-style-type: none;
}

.content blockquote {
	background: var(--menu-blockquote-background);
	padding: 1rem 1rem;
	border-left: 8px solid var(--menu-blockquote-border);
	margin-bottom: 2rem;
	font-style: italic;
	font-weight: 600;
	hanging-punctuation: first last;
}

.content blockquote p {
	margin: 0;
	padding: 0;
}

.content table {
	margin-bottom: 2rem;
}

.content td {
	padding: 0.5rem 0.5rem 0.5rem 0;
	vertical-align: top;
}

.content td:not(:last-child) {
	border-bottom: 1px dotted black;
}

.content th {
	padding: 0.5rem 0.5rem 0.5rem 0;
	vertical-align: top;
	border-bottom: 2px solid black;
}
