.Topbar {
    background: var(--colour-dark-green);
    padding-top:0.3rem;

    .content {
        display: flex;

        .left {
            flex: 0 0 140px;
        }

        .right {
            flex: 0 0 100px;
            color: var(--colour-dark-green);
        }

        .centre{
            flex:1;
        }
    }
}