.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.pagination ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.pagination li {
  margin: 0;
  overflow: hidden;
  position: relative;
}

.pagination li span {
  margin: 0 1rem;
}

.pagination * {
  font-weight: 700 !important;
}

.pagination li .hide {
  position: relative;
  margin-top: -60px;
  display: block;
}

.pagination li[aria-current='page'] {
  background-color: var(--theme-ink);
}
.pagination li[aria-current='page'] * {
  color: var(--theme-paper) !important;
}
