.url {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}

.offsiteLink {
	white-space: nowrap;
	position: relative;
}

.offsiteLink svg {
	top: -0.125em;
	position: relative;
	opacity: 0.5;
}

/* DEVICES - list */

@media only screen and (max-width: 1024px) {
	.table {
		display: block;
	}

	.thead {
		display: none;
	}

	.tr {
		margin: 1rem 0;
		padding: 1rem 0;
	}

	.th {
		font-weight: bold;
		font-size: 1.4rem;
		border-bottom: 2px solid var(--theme-ink);
		margin-bottom: 0.5rem;
	}

	.label {
		display: block;
		margin-top: 1rem;
		font-weight: bold;
	}

	.th .label {
		display: none;
	}

	.markdown {
		font-weight: normal;
		display: block;
	}

	.td a {
		font-weight: normal;
		text-decoration: none;
	}
}

/* DESKTOP - table */

@media only screen and (min-width: 1024px) {
	.label {
		display: none;
	}

	.table {
		display: table;
		table-layout: auto;
		border-collapse: collapse;
		width: 100%;
		border: 0;
		max-width: 100%;
		overflow-x: auto;
		padding: 0;
		white-space: wrap;
		overflow-wrap: break-word;
		margin: 2rem 0;
		font-size: 0.9rem;
	}

	.thead {
		display: table-header-group;
	}
	.tbody {
		display: table-row-group;
	}
	.th {
		display: table-cell;
	}
	.td {
		display: table-cell;
	}
	.tr {
		display: table-row;
	}

	.thead {
		background: var(--dataTable-theme-dashboard-header-bg);
	}

	.th,
	.td {
		padding: 0.8rem 1rem;
	}

	.thead .tr {
		border-top: var(--datatable-border-weight-heavy) solid var(--dataTable-theme-dashboard-border);
	}

	.th {
		border: 0;
		font-weight: bold;
	}

	.tr:not(:last-child) {
		border-bottom: 1px solid var(--dataTable-theme-dashboard-row-divider);
	}

	.tr:last-child {
		border-bottom: var(--datatable-border-weight-heavy) solid
			var(--dataTable-theme-dashboard-border);
	}

	.string,
	.date {
		text-align: left;
	}

	.numeric {
		text-align: right;
	}

	.td a {
		overflow-wrap: break-word;
		word-wrap: break-word;
		word-break: break-word;
	}
}
