.section {
	margin-bottom: 4rem;
	border-bottom: 4px solid #ccc;
	padding-bottom: 4rem;
}

.section h2 {
	margin-bottom: 2rem;
}

.testsuite {
}

.metadataList {
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style: none;
}

.metadataList li,
.countList li {
	margin-bottom: 1rem;
}

.countList {
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style: none;
	max-width: 500px;
}

.countList li {
	display: flex;
}

.description {
	flex: 1;
}
.count {
	flex: 0 0 100px;
	font-size: 2rem;
}
