.Masthead {
	background: #fff;
	padding: 1rem 0;
	--selectedBg: #000;
	--selectedFg: #fff;
}

.developer {
	background: #000;
	--selectedBg: #fff;
	--selectedFg: #000;
}

.developer * {
	color: #fff;
	fill: #fff;
}

.Masthead ol {
	padding: 0 0 1rem;
	list-style: inside none;
}
.Masthead li {
	padding-right: 2rem;
	display: inline;
}

.box {
	display: flex;
	flex-direction: column;
}

.logo {
	flex: 100% 0 0;
}

.spacer {
	flex: 100% 0 0;
}

.nav {
	flex: 100% 0 0;
}

/*
@value device: max-width: 900px;

@media (device) {
	.box {
		flex-direction: row-reverse;
	}
	.logo {
		flex: 200px 0 0;
	}
	.nav {
		flex: 200px 0 0;
	}
}


*/
