.banner {
	background-color: #dc2626;
	color: white;
	/*position: absolute;
	left: 0;
	right: 0;
	top: 0px;*/
	padding: 1rem 0px;
	font-weight: 600;
	font-size: 1rem;
}

.offsite,
.offsite:link,
.offsite:visited,
.offsite:active {
	color: white !important;
}
