.menu {
	padding: 0;
	margin: 1rem 0;
	text-indent: 0;
	list-style: none;
	width: 90%;
}

.menu li {
	padding: 0;
	margin: 0 0 2rem;
	text-indent: 0;
	list-style: none;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content p,
.content ul {
	margin-bottom: 2rem;
}

.content {
	max-width: 40rem;
}

.solo {
	max-width: 50rem;
}

.onthispage {
	font-size: 1.5rem;
}

.content ul,
.content ol {
	margin-left: 2rem;
}

.content li {
	margin-bottom: 1rem;
}
