.spinner {
  display: inline-block;
  width: 7.5rem;
  height: 7.5rem;
  --ui-spinner: #000;
  --ui-spinner-alt: #000;
}
.spinner:after {
  content: " ";
  display: block;
  width: 5rem;
  height: 5rem;
  margin: 2.5rem;
  border-radius: 50%;
  border: 18px solid var(--ui-spinner);
  border-color: var(--ui-spinner) transparent var(--ui-spinner-alt) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
