.table {
  border-collapse: collapse;
  width: 100%;
  border: 0;
  max-width: 100%;
  overflow-x: auto;
  padding: 0;
  white-space: wrap;
  overflow-wrap: break-word;
  margin: 2rem 0 4rem;
}

.table th,
.table td {
  text-align: left;
  padding: 0.5rem 1rem 0.5rem 0;
}

.table th:last-child,
.table td:last-child {
  text-align: right;
}

.table thead tr {
  border: 0;
}

.table thead tr {
  border-top: 0;
  border-bottom: 3px solid var(--dashboard-border-color);
}

.table thead th {
  border: 0;
}

.table thead span {
  display: block;
  padding: 1rem 0.05rem;
}

.table tbody tr:not(:last-child) {
  border-bottom: 0.5px var(--dashboard-border-color) solid;
}
