.version {
	margin: 1rem 0;
}

.version .versionTitle {
	margin-bottom: 2rem;
}

.field {
	margin: 1rem 0;
	padding: 1rem 2rem;
	background: #fff;
}

.field .fieldTitle {
	font-size: 1.6rem;
	font-family: monospace;
	font-weight: 900;
}

.column .columnTitle {
	font-size: 1.2rem;
}

.column ol {
	margin: 0.5rem 0 0;
	padding: 0;
	text-indent: 0;
	list-style: none;
}

.keyword:not(:last-child) {
	margin-bottom: 0.5rem;
}

.keyword code {
	background: white;
	padding: 4px;
	font-weight: 800;
}

.keyword .collection {
	font-size: 0.8rem;
}

.keyword .to {
	font-size: 0.8rem;
	font-style: italic;
}

.danger {
	color: red;
}

.attributes {
	margin-left: 1rem !important;
}

.attributes li:before {
	content: '↳';
}
