/*!************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!../../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!../../libraries/TPXui/Columns/src/columns.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************/
.columns_columns__VUIs6 {
	margin-bottom: 2.25rem;
}
.columns_columns__VUIs6 > div {
	margin-bottom: 0.75rem;
}

@media (min-width: 1024px) {
	.columns_columns__VUIs6 {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 1.5rem;
	}
	.columns_columns__VUIs6 > div {
		grid-row: 1;
		margin-bottom: 0;
	}
}

/*
.column {
	margin-bottom: 1.5rem;

	@media (min-width: breakpoint) {
		grid-row: 1;
	}
}
*/

.columns_debug__lSiO1 {
	display: none;
	@media (min-width: 1024px) {
		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}
}

@media (min-width: 1024px) {
	.columns_debug__lSiO1 > span {
		background: rgba(0, 0, 0, 0.1);
		border-left: 2px solid black;
		border-right: 2px solid black;
		padding-left: 0.75rem;
		font-family: helvetica;
		color: #000;
	}
}

.columns_nested__jOsvv {
	@media (min-width: 1024px) {
		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
	}
}

/* SUM = 1 */

.columns_layout_1__cKOnR > div:nth-child(1) {
	grid-column: 1 / 13;
}

/* SUM = 2 */

.columns_layout_2__Ec5oJ > div:nth-child(1) {
	grid-column: 1 / 13;
}

.columns_layout_11__SU_mD > div:nth-child(1) {
	grid-column: 1 / 7;
}
.columns_layout_11__SU_mD > div:nth-child(2) {
	grid-column: 7 / 13;
}

/* SUM = 3 */

.columns_layout_3__xxIqp > div:nth-child(1) {
	grid-column: 1 / 13;
}

.columns_layout_21__skqXn > div:nth-child(1) {
	grid-column: 1 / 9;
}
.columns_layout_21__skqXn > div:nth-child(2) {
	grid-column: 9 / 13;
}

.columns_layout_12__IIICp > div:nth-child(1) {
	grid-column: 1 / 5;
}
.columns_layout_12__IIICp > div:nth-child(2) {
	grid-column: 5 / 13;
}

.columns_layout_111__hif__ > div:nth-child(1) {
	grid-column: 1 / 5;
}
.columns_layout_111__hif__ > div:nth-child(2) {
	grid-column: 5 / 9;
}
.columns_layout_111__hif__ > div:nth-child(3) {
	grid-column: 9 / 13;
}

/* SUM = 4 */

.columns_layout_1111__5UeLK > div:nth-child(1) {
	grid-column: 1 / 4;
}
.columns_layout_1111__5UeLK > div:nth-child(2) {
	grid-column: 4 / 7;
}
.columns_layout_1111__5UeLK > div:nth-child(3) {
	grid-column: 7 / 10;
}
.columns_layout_1111__5UeLK > div:nth-child(4) {
	grid-column: 10 / 13;
}

.columns_layout_4__4xFi5 > div:nth-child(1) {
	grid-column: 1 / 13;
}

.columns_layout_22__wUAZ7 > div:nth-child(1) {
	grid-column: 1 / 7;
}
.columns_layout_22__wUAZ7 > div:nth-child(2) {
	grid-column: 7 / 13;
}

.columns_layout_31__ehbZj > div:nth-child(1) {
	grid-column: 1 / 10;
}
.columns_layout_31__ehbZj > div:nth-child(2) {
	grid-column: 10 / 13;
}
.columns_layout_13__eOJ85 > div:nth-child(1) {
	grid-column: 1 / 4;
}
.columns_layout_13__eOJ85 > div:nth-child(2) {
	grid-column: 4 / 13;
}

.columns_layout_121__dkfWU > div:nth-child(1) {
	grid-column: 1 / 4;
}
.columns_layout_121__dkfWU > div:nth-child(2) {
	grid-column: 4 / 10;
}
.columns_layout_121__dkfWU > div:nth-child(3) {
	grid-column: 10 / 13;
}

.columns_layout_112__k64Gq > div:nth-child(1) {
	grid-column: 1 / 4;
}
.columns_layout_112__k64Gq > div:nth-child(2) {
	grid-column: 4 / 7;
}
.columns_layout_112__k64Gq > div:nth-child(3) {
	grid-column: 7 / 13;
}

.columns_layout_211__893dp > div:nth-child(1) {
	grid-column: 1 / 7;
}
.columns_layout_211__893dp > div:nth-child(2) {
	grid-column: 7 / 10;
}
.columns_layout_211__893dp > div:nth-child(3) {
	grid-column: 10 / 13;
}

/* SUM = 6 */

.columns_layout_6__mWnZi > div:nth-child(1) {
	grid-column: 1 / 13;
}

.columns_layout_51__Zb2_o > div:nth-child(1) {
	grid-column: 1 / 11;
}

.columns_layout_51__Zb2_o > div:nth-child(2) {
	grid-column: 11 / 13;
}

.columns_layout_15__EVmbh > div:nth-child(1) {
	grid-column: 1 / 3;
}

.columns_layout_15__EVmbh > div:nth-child(2) {
	grid-column: 3 / 13;
}

.columns_layout_33__R5Zsf > div:nth-child(1) {
	grid-column: 1 / 7;
}

.columns_layout_33__R5Zsf > div:nth-child(2) {
	grid-column: 7 / 13;
}

.columns_layout_24__rGPdu > div:nth-child(1) {
	grid-column: 1 / 5;
}

.columns_layout_24__rGPdu > div:nth-child(2) {
	grid-column: 5 / 13;
}

.columns_layout_42__CTCgF > div:nth-child(1) {
	grid-column: 1 / 9;
}

.columns_layout_42__CTCgF > div:nth-child(2) {
	grid-column: 9 / 13;
}

.columns_layout_411__O8pXf > div:nth-child(1) {
	grid-column: 1 / 9;
}

.columns_layout_411__O8pXf > div:nth-child(2) {
	grid-column: 9 / 11;
}

.columns_layout_411__O8pXf > div:nth-child(3) {
	grid-column: 11 / 13;
}

.columns_layout_141__9cJeG > div:nth-child(1) {
	grid-column: 1 / 3;
}

.columns_layout_141__9cJeG > div:nth-child(2) {
	grid-column: 3 / 11;
}

.columns_layout_141__9cJeG > div:nth-child(3) {
	grid-column: 11 / 13;
}

.columns_layout_114__POslU > div:nth-child(1) {
	grid-column: 1 / 3;
}

.columns_layout_114__POslU > div:nth-child(2) {
	grid-column: 3 / 5;
}

.columns_layout_114__POslU > div:nth-child(3) {
	grid-column: 5 / 13;
}

.columns_layout_321__vEDd_ > div:nth-child(1) {
	grid-column: 1 / 7;
}

.columns_layout_321__vEDd_ > div:nth-child(2) {
	grid-column: 7 / 11;
}

.columns_layout_321__vEDd_ > div:nth-child(3) {
	grid-column: 11 / 13;
}

.columns_layout_312__b9_y3 > div:nth-child(1) {
	grid-column: 1 / 7;
}

.columns_layout_312__b9_y3 > div:nth-child(2) {
	grid-column: 7 / 9;
}

.columns_layout_312__b9_y3 > div:nth-child(3) {
	grid-column: 9 / 13;
}

.columns_layout_123__g3Maz > div:nth-child(1) {
	grid-column: 1 / 3;
}

.columns_layout_123__g3Maz > div:nth-child(2) {
	grid-column: 3 / 7;
}

.columns_layout_123__g3Maz > div:nth-child(3) {
	grid-column: 7 / 13;
}

.columns_layout_132__WgdsG > div:nth-child(1) {
	grid-column: 1 / 3;
}

.columns_layout_132__WgdsG > div:nth-child(2) {
	grid-column: 3 / 9;
}

.columns_layout_132__WgdsG > div:nth-child(3) {
	grid-column: 9 / 13;
}

.columns_layout_231__C9rcK > div:nth-child(1) {
	grid-column: 1 / 5;
}

.columns_layout_231__C9rcK > div:nth-child(2) {
	grid-column: 5 / 11;
}

.columns_layout_231__C9rcK > div:nth-child(3) {
	grid-column: 11 / 13;
}

.columns_layout_213__Nj_rc > div:nth-child(1) {
	grid-column: 1 / 5;
}

.columns_layout_213__Nj_rc > div:nth-child(2) {
	grid-column: 5 / 7;
}

.columns_layout_213__Nj_rc > div:nth-child(3) {
	grid-column: 7 / 13;
}

.columns_layout_222__SFTsR > div:nth-child(1) {
	grid-column: 1 / 5;
}

.columns_layout_222__SFTsR > div:nth-child(2) {
	grid-column: 5 / 9;
}

.columns_layout_222__SFTsR > div:nth-child(3) {
	grid-column: 9 / 13;
}

.columns_layout_1113__gNFsD > div:nth-child(1) {
	grid-column: 1 / 3;
}

.columns_layout_1113__gNFsD > div:nth-child(2) {
	grid-column: 3 / 5;
}

.columns_layout_1113__gNFsD > div:nth-child(3) {
	grid-column: 5 / 7;
}

.columns_layout_1113__gNFsD > div:nth-child(4) {
	grid-column: 7 / 13;
}

.columns_layout_1131___FaIz > div:nth-child(1) {
	grid-column: 1 / 3;
}

.columns_layout_1131___FaIz > div:nth-child(2) {
	grid-column: 3 / 5;
}

.columns_layout_1131___FaIz > div:nth-child(3) {
	grid-column: 5 / 11;
}

.columns_layout_1131___FaIz > div:nth-child(4) {
	grid-column: 11 / 13;
}

.columns_layout_1311__Z4nAB > div:nth-child(1) {
	grid-column: 1 / 3;
}

.columns_layout_1311__Z4nAB > div:nth-child(2) {
	grid-column: 3 / 9;
}

.columns_layout_1311__Z4nAB > div:nth-child(3) {
	grid-column: 9 / 11;
}

.columns_layout_1311__Z4nAB > div:nth-child(4) {
	grid-column: 11 / 13;
}

.columns_layout_3111__tsEHp > div:nth-child(1) {
	grid-column: 1 / 7;
}

.columns_layout_3111__tsEHp > div:nth-child(2) {
	grid-column: 7 / 9;
}

.columns_layout_3111__tsEHp > div:nth-child(3) {
	grid-column: 9 / 11;
}

.columns_layout_3111__tsEHp > div:nth-child(4) {
	grid-column: 11 / 13;
}

.columns_layout_1122__TadL5 > div:nth-child(1) {
	grid-column: 1 / 3;
}

.columns_layout_1122__TadL5 > div:nth-child(2) {
	grid-column: 3 / 5;
}

.columns_layout_1122__TadL5 > div:nth-child(3) {
	grid-column: 5 / 9;
}

.columns_layout_1122__TadL5 > div:nth-child(4) {
	grid-column: 9 / 13;
}

.columns_layout_1212__Ri5vj > div:nth-child(1) {
	grid-column: 1 / 3;
}

.columns_layout_1212__Ri5vj > div:nth-child(2) {
	grid-column: 3 / 7;
}

.columns_layout_1212__Ri5vj > div:nth-child(3) {
	grid-column: 7 / 9;
}

.columns_layout_1212__Ri5vj > div:nth-child(4) {
	grid-column: 9 / 13;
}

.columns_layout_1221__LA2wc > div:nth-child(1) {
	grid-column: 1 / 3;
}

.columns_layout_1221__LA2wc > div:nth-child(2) {
	grid-column: 3 / 7;
}

.columns_layout_1221__LA2wc > div:nth-child(3) {
	grid-column: 7 / 11;
}

.columns_layout_1221__LA2wc > div:nth-child(4) {
	grid-column: 11 / 13;
}

.columns_layout_2211__Q5Azf > div:nth-child(1) {
	grid-column: 1 / 5;
}

.columns_layout_2211__Q5Azf > div:nth-child(2) {
	grid-column: 5 / 9;
}

.columns_layout_2211__Q5Azf > div:nth-child(3) {
	grid-column: 9 / 11;
}

.columns_layout_2211__Q5Azf > div:nth-child(4) {
	grid-column: 11 / 13;
}

.columns_layout_2121__r7a5z > div:nth-child(1) {
	grid-column: 1 / 5;
}

.columns_layout_2121__r7a5z > div:nth-child(2) {
	grid-column: 5 / 7;
}

.columns_layout_2121__r7a5z > div:nth-child(3) {
	grid-column: 7 / 11;
}

.columns_layout_2121__r7a5z > div:nth-child(4) {
	grid-column: 11 / 13;
}

.columns_layout_2112__IrQg9 > div:nth-child(1) {
	grid-column: 1 / 5;
}

.columns_layout_2112__IrQg9 > div:nth-child(2) {
	grid-column: 5 / 7;
}

.columns_layout_2112__IrQg9 > div:nth-child(3) {
	grid-column: 7 / 9;
}

.columns_layout_2112__IrQg9 > div:nth-child(4) {
	grid-column: 9 / 13;
}

.columns_layout_11112__PQ7oF > div:nth-child(1) {
	grid-column: 1 / 3;
}

.columns_layout_11112__PQ7oF > div:nth-child(2) {
	grid-column: 3 / 5;
}

.columns_layout_11112__PQ7oF > div:nth-child(3) {
	grid-column: 5 / 7;
}

.columns_layout_11112__PQ7oF > div:nth-child(4) {
	grid-column: 7 / 9;
}

.columns_layout_11112__PQ7oF > div:nth-child(5) {
	grid-column: 9 / 13;
}

.columns_layout_11121__jwf3E > div:nth-child(1) {
	grid-column: 1 / 3;
}

.columns_layout_11121__jwf3E > div:nth-child(2) {
	grid-column: 3 / 5;
}

.columns_layout_11121__jwf3E > div:nth-child(3) {
	grid-column: 5 / 7;
}

.columns_layout_11121__jwf3E > div:nth-child(4) {
	grid-column: 7 / 11;
}

.columns_layout_11121__jwf3E > div:nth-child(5) {
	grid-column: 11 / 13;
}

.columns_layout_11211___VUZP > div:nth-child(1) {
	grid-column: 1 / 3;
}

.columns_layout_11211___VUZP > div:nth-child(2) {
	grid-column: 3 / 5;
}

.columns_layout_11211___VUZP > div:nth-child(3) {
	grid-column: 5 / 9;
}

.columns_layout_11211___VUZP > div:nth-child(4) {
	grid-column: 9/ 11;
}

.columns_layout_11211___VUZP > div:nth-child(5) {
	grid-column: 11 / 13;
}

.columns_layout_12111__m4Ao1 > div:nth-child(1) {
	grid-column: 1 / 3;
}

.columns_layout_12111__m4Ao1 > div:nth-child(2) {
	grid-column: 3 / 7;
}

.columns_layout_12111__m4Ao1 > div:nth-child(3) {
	grid-column: 7 / 9;
}

.columns_layout_12111__m4Ao1 > div:nth-child(4) {
	grid-column: 9 / 11;
}

.columns_layout_12111__m4Ao1 > div:nth-child(5) {
	grid-column: 11 / 13;
}

.columns_layout_21111__nboVP > div:nth-child(1) {
	grid-column: 1 / 5;
}

.columns_layout_21111__nboVP > div:nth-child(2) {
	grid-column: 5 / 7;
}

.columns_layout_21111__nboVP > div:nth-child(3) {
	grid-column: 7 / 9;
}

.columns_layout_21111__nboVP > div:nth-child(4) {
	grid-column: 9 / 11;
}

.columns_layout_21111__nboVP > div:nth-child(5) {
	grid-column: 11 / 13;
}

.columns_layout_111111__6x3c5 > div:nth-child(1) {
	grid-column: 1 / 3;
}

.columns_layout_111111__6x3c5 > div:nth-child(2) {
	grid-column: 3 / 5;
}

.columns_layout_111111__6x3c5 > div:nth-child(3) {
	grid-column: 5 / 7;
}

.columns_layout_111111__6x3c5 > div:nth-child(4) {
	grid-column: 7 / 9;
}

.columns_layout_111111__6x3c5 > div:nth-child(5) {
	grid-column: 9 / 11;
}

.columns_layout_111111__6x3c5 > div:nth-child(6) {
	grid-column: 11 / 13;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!../../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/ValidatorForm/ValidatorForm.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************/
.ValidatorForm_form__cS3ch {
}

.ValidatorForm_samples__z8I9H {
	list-style: none;
	margin-top: 1rem;
}

.ValidatorForm_submit__8Rnt_ {
	padding: 0.2rem 2rem;
}

.ValidatorForm_example__3GMmE {
	display: block;
	font-style: italic;
	margin-top: 0.5rem;
}

.ValidatorForm_label__vEREd {
	display: block;
	font-weight: bold;
}

.ValidatorForm_label__vEREd input {
	margin: 0;
	width: 30rem;
	display: block;
	font-weight: normal;
	padding: 5px;
	border-radius: 0;
	border: 1px solid black;
}

.ValidatorForm_submit__8Rnt_ {
	margin-top: 1rem;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!../../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Button/Button.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.Button_button__exqP_,
.Button_button__exqP_ *,
.Button_button__exqP_ :after,
.Button_button__exqP_ :before,
.Button_button__exqP_:after,
.Button_button__exqP_:before {
	border: 0 solid;
	box-sizing: border-box;
}

.Button_button__exqP_:disabled {
	opacity: 0.5;
}

.Button_button__exqP_ {
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: button;
	background-image: none;
	cursor: pointer;
	font-family: inherit;
	font-size: 100%;
	font-weight: 900;
	line-height: 1.5;
	margin: 2rem 0 0;
	padding: 0;
	text-transform: uppercase;
}
.Button_button__exqP_:disabled {
	cursor: default;
}
.Button_button__exqP_:-moz-focusring {
	outline: auto;
}
.Button_button__exqP_ svg {
	display: block;
	vertical-align: middle;
}
.Button_button__exqP_ [hidden] {
	display: none;
}
.Button_button__exqP_ {
	border-radius: 99rem;
	border-width: 2px;
	overflow: hidden;
	padding: 0.8rem 3rem;
	position: relative;
}
.Button_button__exqP_:before {
	animation: Button_move-out__yb_Qe 0.3s;
	content: '';
	height: 100%;
	left: -100%;
	position: absolute;
	top: 0;
	width: 100%;
	will-change: transform;
}
.Button_button__exqP_:hover:before {
	animation: Button_move-in__7B1ak 0.3s forwards;
}
@keyframes Button_move-in__7B1ak {
	0% {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}
@keyframes Button_move-out__yb_Qe {
	0% {
		transform: translateX(100%);
	}
	to {
		transform: translateX(200%);
	}
}

/* COLOUR */
/*
.button {
  background-color: transparent;
  color: white;
  border: 2px solid black;
}

.button:before {
  background: black;
}

.button span {
  mix-blend-mode: difference;
}*/

.Button_button__exqP_ {
	background-color: transparent;
	color: black;
	border: 2px solid black;
}

.Button_button__exqP_:before {
	background: black;
	z-index: -1;
}

.Button_button__exqP_:hover {
	color: white;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!../../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/NamedMarkdownPage/Menu.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************/
.Menu_menu__Zctc5 {
	padding: 0;
	margin: 1rem 0;
	text-indent: 0;
	list-style: none;
	width: 90%;
}

.Menu_menu__Zctc5 li {
	padding: 0;
	margin: 0 0 2rem;
	text-indent: 0;
	list-style: none;
}

.Menu_content__gjYDu h1,
.Menu_content__gjYDu h2,
.Menu_content__gjYDu h3,
.Menu_content__gjYDu h4,
.Menu_content__gjYDu p,
.Menu_content__gjYDu ul {
	margin-bottom: 2rem;
}

.Menu_content__gjYDu {
	max-width: 40rem;
}

.Menu_solo__2SDUz {
	max-width: 50rem;
}

.Menu_onthispage__Pe2DR {
	font-size: 1.5rem;
}

.Menu_content__gjYDu ul,
.Menu_content__gjYDu ol {
	margin-left: 2rem;
}

.Menu_content__gjYDu li {
	margin-bottom: 1rem;
}

