.validation {
	padding: 0.2rem 3rem 0.2rem 2rem;
	display: flex;
	margin-bottom: 0.3rem;
	border-width: 3px;
	border-style: solid;
}

.section {
	border-left:4px solid black;
	padding-left:1rem;
	margin-bottom:1rem;
}

.sectionTitle{
	font-size:1.4rem;
}

.pageTitle{
	margin-bottom: 0;
}

.service{
	margin-top:0;
}

.light {
	font-weight: 300;
}

.validation h3 {
	font-size: 1.6rem;
}

.pass {
	background: #c5e1a5;
	border-color: #8bc34a;
}

.fail {
	background: #ffcdd2;
	border-color: #ef9a9a;
}

.na {
	border-color: #ccc;
	color: #949494;
}

.na svg {
	stroke: #fc0 !important;
}

.error {
	margin-bottom: 2rem;
	font-weight: 600;
}

.content {
	flex: 1;
}

.content summary {
	font-size: 1.4rem;
	font-weight: normal;
}

.status {
	font-weight: bold;
}

.icon {
	flex: 0 4rem;
	padding-top: 1rem;
}
