.table {
	border-collapse: collapse;
	width: 100%;
	border: 0;
	max-width: 100%;
	overflow-x: auto;
	padding: 0;
	white-space: wrap;
	overflow-wrap: break-word;
	margin-bottom: 4rem;
}

.table th,
.table td {
	text-align: left;
	padding-right: 1rem;
}

.table th:last-child,
.table td:last-child {
	text-align: right;
}

.table thead tr {
	border: 0;
}

.table thead tr {
	border-top: 0;
	border-bottom: 3px solid var(--dashboardDetails-border-color);
}

.table thead th {
	border: 0;
}

.table thead span {
	display: block;
	padding: 1rem 0.05rem;
}

/* */

.publisher {
	font-size: 1.4rem;
	display: block;
	line-height: 3.5rem;
}

.service {
	font-size: 1.4rem;
	display: block;
	line-height: 4.5rem;
}

.service a {
	font-weight: var(--link-weight) !important;
}

.service em {
	font-style: normal;
	font-size: 1rem;
}

.label {
	font-variant: small-caps;
	text-transform: lowercase;
	display: inline-block;
	margin-right: 1rem;
	font-size: 1rem;
}

.section {
	margin: 1rem 0 4rem;
}

.field {
	margin: 1rem 0;
}

.fv {
	display: block;
	font-size: 1.2rem;
	max-width: 50vw;
}

a.fv {
	font-weight: var(--link-weight) !important;
}
