.menu {
	padding: 0;
	margin: 1rem 0;
	text-indent: 0;
	list-style: none;
	width: 90%;
}

.menu li {
	padding: 0;
	margin: 0 0 2rem;
	text-indent: 0;
	list-style: none;
}

.bodycopy {
	color: red;
	border: 10px solid red;
}

.bodycopy p {
	margin-bottom: 1rem;
}
