:root {
	/* Colour primities */
	--colour-black: #000;
	--colour-white: #fff;
	--colour-offwhite: rgb(252, 249, 245);
	--colour-mint: #75BEA0; 
	
	/* Theme colours */
	--theme-paper: var(--colour-offwhite);
	--theme-ink: var(--colour-black);
	--theme-interaction: var(--colour-mint);
	--anchor: var(--theme-ink);
	--anchor-underline: var(--colour-mint);
	--anchor-roll-underline: var(--anchor);
	/* Typography */

	--link-weight: 400;
	--font-mono: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
		'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono',
		'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;

	/* @/components */

	--button-background-color: transparent;
	--button-border-color: black;
	--button-color: black;
	--button-hover-background-color: black;
	--button-hover-color: white;
	--changelog-background-color: #fff;
	--changelog-code-background-color: white;
	--changelog-danger-color: red;
	--columns-debug-background-color: rgba(0, 0, 0, 0.1);
	--columns-debug-border-color: black;
	--columns-debug-color: #000;
	--crumbtrail-separator-color: rgba(0, 0, 0, 0.2);
	--dashboard-border-color: black;
	--dashboardDetails-border-color: black;
	--dataTable-gray: #ccc;
	--dataTable-theme-dashboard-border: black;
	--dataTable-theme-dashboard-header-bg: #ddd;
	--dataTable-theme-dashboard-row-divider: black;
	--Header-background-closed: var(--theme-paper);
	--Header-background-open: #eaeaea;
	--Header-border-color: #000;
	--Header-button-color: black;
	--HR-background: #333;
	--HR-gradient-end: #333;
	--HR-gradient-middle: #ccc;
	--HR-gradient-start: #ccc;
	--Logo-gradient-color1: #ee7752;
	--Logo-gradient-color2: #e73c7e;
	--Logo-gradient-color3: #23a6d5;
	--Logo-gradient-color4: #23d5ab;
	--menu-background-highlight: #fcf8ca;
	--menu-blockquote-background: #efefef;
	--menu-blockquote-border: #dfdfdf;
	--Menu-background: #eaeaea;
	--Menu-box-shadow: rgba(0, 0, 0, 0.4);
	--pagination-border-color: #000;
	--pagination-current-bg-color: #000;
	--pagination-current-text-color: #fff;
	--pagination-no-anchor-color: #999;
	--spinner-border-color-alt: #ccc;
	--spinner-border-color: #000;
	--tableSorting-arrow-bg: rgba(0, 0, 0, 1);
	--tableSorting-arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
	--tableSorting-border-color: black;
	--tableSorting-box-shadow: rgba(0, 0, 0, 0.2);
	--tableSorting-color-black: black;
	--tableSorting-option-bg: #eee;
	--tableSorting-select-bg: rgba(255, 255, 255, 0.2);
	--ValidatorForm-border-color: black;
	--validatorResult-background: #fff;
	--validatorResult-banner-background: #fe9;
	--validatorResult-banner-code-background: rgba(255, 255, 255, 0.5);
	--validatorResult-black: #000;
	--VersionedDocumentation-current-background: #d9f99d;
	--VersionedDocumentation-current-border-color: #a3e635;
	--VersionedDocumentation-current-color: #1a2e05;
	--VersionedDocumentation-legacy-background: #dc2626;
	--VersionedDocumentation-legacy-border-color: #b91c1c;
	--VersionedDocumentation-legacy-color: #fff;
}

@media (prefers-color-scheme: dark) {
	:root[color-mode='user'] {
	}
}
