/* inspired by https://codepen.io/raubaca/pen/bGWmZje */

.sorting {
	--arrow-bg: var(--tableSorting-arrow-bg);
	--arrow-icon: var(--tableSorting-arrow-icon);
	--option-bg: var(--tableSorting-option-bg);
	--select-bg: var(--tableSorting-select-bg);
}

.sorting label {
	font-weight: bold;
	margin-right: 2rem;
}

.sorting select {
	appearance: none;
	border: 0;
	outline: 0;
	font: inherit;

	width: 20rem;
	padding: 0.5rem 2rem 0.5rem 1rem;
	background:
		var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
		linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
	color: var(--tableSorting-color-fg);
	border-radius: 0.25em;
	border: 1px solid var(--tableSorting-border-color);
	/*box-shadow: 0 0 0.5rem 0 var(--tableSorting-box-shadow);*/
	cursor: pointer;
	margin-right: 0.5rem;

	&::-ms-expand {
		display: none;
	}

	&:focus {
		outline: none;
	}
}

.sorting option {
	color: inherit;
	background-color: var(--tableSorting-option-bg);
}

.widget {
	display: block;
	margin-bottom: 1rem;
}

@media only screen and (min-width: 1024px) {
	.widget {
		display: inline-block;
		margin-right: 1rem;
		margin-bottom: 0;
	}
}
