.Menu {

	padding: 1rem 5vw 0;

/* 

made with https://mycolor.space/gradient3?ori=to+right+top&hex=%23FFF2F9&hex2=%23E7EEFB&hex3=%23EEFFFE&submit=submit


*/

	background-image: linear-gradient(to right top, #fff2f9, #fcf1fa, #f8f0fb, #f3f0fc, #eeeffc, #ebf0fd, #e8f2fd, #e6f3fd, #e7f6fe, #e8f9fe, #ebfcfe, #eefffe);;
	background: #eaeaea;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

@media only screen and (max-width: 1024px) {
	.Menu {
		grid-template-columns: 1fr;
		
	}
}

.MenuSection {
	padding: 0 0 1rem 0;
}

.Menu ol {
	margin: 0.5rem 0;
	padding: 0;
	text-indent: 0;
	list-style: none;
}

.Menu li {
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style: none;
	/* outdent first line */
	text-indent: -1rem; 
	padding-left: 1rem; 
}

.Menu a {
	font-weight: var(--link-weight);
}

.heading {
	font-weight: 900;
}


.overflow {
	margin-top: 1rem;
	font-size:16px;
}