.component {
  margin-top: 2rem;
  margin-bottom: 4rem;
  border: 3px solid var(--theme-ink);
}
.component h2 {
  border-bottom: 1px solid var(--theme-ink);
  padding: 1rem 2rem;
}

.schema {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
}
