.crumbtrail {
	padding: 0;
	margin: 2rem 0 0;
}

.crumbtrail ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

.crumbtrail li {
	display: inline;
	padding: 0;
	margin: 0;
	text-indent: 0;
}

.crumbtrail li + li:before {
	padding: 1rem;
	font-weight: 900;
	color: rgba(0, 0, 0, 0.2);
	content: '/\00a0';
}
